h1 {
  color: white;
  text-transform: uppercase;
}

 * {
  font-family: 'Comic Neue', cursive;
  padding: 0px;
  margin: 0px;
  border-spacing: 0;
  box-sizing: border-box;
}

header {
  background-color: #447BBE;
  width: 100%;
  height: 70px;
  box-shadow: 0 8px 6px -6px black;
}

header h1 {
  padding: 15px 0px 0px 10px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

main {
  padding: 70px 0 20px 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.body-power {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 10px;
  font-weight: bold;
  box-shadow: 3px 3px 3px 3px #DF1F2D;
  height: 400px;
  background-color: beige;
  border-radius: 10px;
}

.body-power h3 {
  text-transform: uppercase;
  font-style: bold;
  margin-bottom: 40px;
  align-self: center;
}

.body-power p {
  margin-top: 40px;
}

.body-power .img-heroi {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
  height: 50%;
  border-radius: 20px;
}

.form-hero {
  display: none;
  justify-content: center;
  height: 300px;;
  width: 100%;

}

body .form-hero form {
  border: 1px solid black;
  padding: 20px;
  display: block;
  width: 50%;
}


body .form-hero form input, body .form-hero form textarea {
  width: 100%;
  padding: 5px;
}

footer {
  background-color: #447BBE;
  width: 100%;
  height: 50px;
  margin: auto;
  bottom: 0;
  /* position: fixed; */
}

.author {
  color: rgb(228, 228, 228);
  padding: 15px;
  text-align: right;
}

@media screen and (max-width: 400px) {
  body .form-hero form {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  body .form-hero form {
    width: 100%;
  }

  main .body-power .img-heroi {
    height: 200px;
  }

  main .body-power {
    width: 70%;
  }
}